
<% for (let menu of model.menuItem) { %>
<ul>
  <li><a routerLink="<%=dasherize(name)%>fakestore" routerLinkActive="active"><%=menu.fakestore%></a></li>
  <li><a routerLink="<%=dasherize(name)%>about"><%=menu.about%></a></li>
 
</ul>
 <% } %>

