<h2 style="text-align:center"><%=model.entity%></h2>

  <div *ngFor="let item of fields">
  <div class="container">
    <div class="card" >
      <img src={{item.image}} alt="Denim Jeans" style="width:100%">
      <h1>{{item.title}}</h1>
      <p class="price">{{item.price}}</p>
      <p>{{item.description}}</p>
      <p><button><%=model.ButtonName%></button></p>
      </div>
  </div>
</div>
