import { Component } from '@angular/core';
import {HttpClient} from '@angular/common/http';


@Component({
  selector: '<%= dasherize(name) %>',
  templateUrl: './<%= dasherize(name) %>.component.html',
  styleUrls: ['./<%= dasherize(name) %>.component.css']
})
export class <%= classify(name) %>  {
  
  constructor(private httpClient : HttpClient) {}
  
  ngOnInit():void{}
    
}