import {Component} from '@angular/core';

@Component({
  selector: '<%= dasherize(name)%>sidebar',
  templateUrl: './<%= dasherize(name) %>-sidebar.component.html',
  styleUrls: ['./<%= dasherize(name) %>-sidebar.component.css']
})
export class <%= classify(name) %>Sidebar  {
  
  constructor() {}
  
  ngOnInit():void{}
    
}
